@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background: #eef9bf;
    width: 100%;
}

header {
    margin: auto;
    width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tituloJogo {
    display: flex;
    align-items: center;
    max-width: 540px;
    width: 100%;
    height: 63px;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-bottom: 47px;
}

main {
    margin: auto;
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 122px 0px 123px;
}

.cartasJogo {
    max-width: 906px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 34px;
}

.cartas {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    position: relative;
    transition: all 300ms ease;
    transform-style: preserve-3d;
}

.face {
    background-color: #75B79E;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.front {
    background-size: 100px;
    transform: rotateY(180deg);
}

.back {
    background-image: url(./Imagens/front\ 9.png);
    backface-visibility: hidden;
}

.revelar {
    transform: rotateY(180deg);
}

@media (max-width: 1035px){

    body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    header{
        width: 100%;
        
    }

    main{
        width: 100%;
        padding: unset;
    }

    .tituloJogo{
        width: 100%;
        max-width: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartasJogo{
        max-width: 50%;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 1035px){

    .cartasJogo{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 635px){

    .cartasJogo{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 535px){
    .tituloJogo{
        width: 312px;
        height: 63px;
        font-size: 50px;
        line-height: 55px;
        text-align: center;
        justify-content: center;
    }

}

@media (max-width: 335px){

    .tituloJogo{
        width: 312px;
        height: 63px;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .cartasJogo{
        grid-template-columns: repeat(1, 1fr);
    }
}