@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

::-webkit-scrollbar {
    display: none;
    }

.layout-app{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-family: 'Righteous', cursive;
    margin: auto;
    width: 414px;
    background: #EEEEEE;
}

.parte-cima{
    z-index: 1;
    position: fixed;
    box-sizing: border-box;
    width: 414px;
    height: 92px;
    padding-top: 8px;
    padding-left: 21px;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nome-app{
    color: #FFFFFF;
    width: 248px;
    height: 44px;
    display: flex;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}

.sub-app{
    color: #FFFFFF;
    width: 226px;
    height: 17px;
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

main{
    margin-top: 123px;

}

.pratos{
    box-sizing: border-box;
    height: 258px;
    width: 100%;
    padding-left: 19px;
    margin-bottom: 27px;

}

.pratos:nth-child(3){
    margin-bottom: 108px;
}

.título-pedidos{
    width: 350px;
    height: 25px;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-bottom: 17px;
}

.container-pedidos{
    box-sizing: border-box;
    width: 100%;
    height: 216px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;

}

.caixapedidos{
    box-sizing: border-box;
    height: 100%;
    width: 172px;
    margin-right: 16px;
    padding: 14px 18px 14px 13px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px; 
    
}

.título-comida{
    margin-top: 8px;
    margin-left: 1px;
    width: 139px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.descri-comida{
    width: 147px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

.preço-comida{
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.finalizar{
    position: fixed;
    bottom: 0;
    width: 414px;
    height: 92px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-final{
    display: flex;
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    justify-content: center;
    align-items: center;;
}

.texto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

.descricao-verificado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botao{
    width: 19px;
    height: 19px;
    color:#32B72F;
    display: none;
}

.button{
    width: 19px;
    height: 19px;
    color:#32B72F;
    display: none;
}

.botao2{
    width: 19px;
    height: 19px;
    color:#32B72F;
    display: none;
}

.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px
}

.selecionado1{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px
}

.selecionado2{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px
}

.mostrar{
    display: block;
}

.mostrar1{
    display: block;
}

.mostrar2{
    display: block;
}




